Repository vlad-ko/laravel-stripe-app-gh: changes, and which Codecov flags are due for each by the changed paths.
All: service, controller, unit, javascript, backend

addinga test and a function
  app/Models/Charge.php
  tests/Unit/ChargeTest.php
Due: unit, backend

adding stuff
  .github/workflows/pr-only.yaml
Due: backend

adding stuff to workflow
  .github/workflows/pr-only.yaml
Due: backend

trying to update flow
  .github/workflows/pr-only.yaml
Due: backend

fixing flow
  .github/workflows/pr-only.yaml
Due: backend

fixing flow by going to origin
  .github/workflows/pr-only.yaml
Due: backend

fixing flow by trying to remove echo
  .github/workflows/pr-only.yaml
Due: backend

adding a test and a function
  resources/js/classes/person.js
  resources/js/classes/person.test.js
Due: javascript, backend

adding more features
  app/Models/Charge.php
  tests/Unit/ChargeTest.php
Due: unit, backend

adding code
  resources/js/classes/person.js
  resources/js/classes/person.test.js
Due: javascript, backend

adding code to backend
  app/Models/Charge.php
  tests/Unit/ChargeTest.php
Due: unit, backend

adding flaky test stuff
  .github/workflows/pr-only.yaml
Due: backend

adding test results
  .github/workflows/pr-only.yaml
  tests/Unit/ChargeTest.php
Due: backend

fixing a test
  tests/Unit/ChargeTest.php
Due: backend

adding a flaky test
  tests/Unit/ChargeTest.php
Due: backend

fixing up the workflow
  .github/workflows/pr-only.yaml
Due: backend

adding cff to javascript
  codecov.yml
Due: backend

adding fixes to main.yaml
  .github/workflows/main.yaml
Due: backend

adding a test
  app/Models/Charge.php
  tests/Unit/ChargeTest.php
Due: unit, backend

breaking an upload test
  .github/workflows/pr-only.yaml
  bitbucket-pipelines.yml
  codecov.yml
  package-lock.json
  package.json
Due: backend

breaking another flow
  .github/workflows/main.yaml
  codecov.yml
Due: backend

adding an uncovered function
  resources/js/classes/person.js
Due: javascript, backend

adding a function
  resources/js/classes/person.js
Due: javascript, backend

fixing flows
  .github/workflows/main.yaml
  .github/workflows/pr-only.yaml
Due: backend

adding a borken test
  tests/Unit/ChargeTest.php
Due: backend

fixing a borken test
  tests/Unit/ChargeTest.php
Due: backend

adjustng names
  .github/workflows/pr-only.yaml
Due: backend

adding a dummy file, remoing path
  .github/workflows/pr-only.yaml
  codecov.yml
Due: backend

adding new tests, trying to fail upload
  package.json
Due: backend

adding files remoing trigger
  .github/workflows/pr-only.yaml
  codecov.yml
  resources/js/classes/calculator.js
  resources/js/classes/calculator.test.js
Due: javascript, backend

reverting
  .github/workflows/pr-only.yaml
  codecov.yml
Due: backend

adding changes to the workflow before merging
  .github/workflows/pr-only.yaml
  codecov.yml
Due: backend

forgetting division by zero
  resources/js/classes/calculator.js
  resources/js/classes/calculator.test.js
Due: javascript, backend

adding a few more things
  resources/js/classes/calculator.js
  resources/js/classes/calculator.test.js
Due: javascript, backend

Update resources/js/classes/calculator.test.js
  resources/js/classes/calculator.test.js
Due: javascript, backend

adding a new method
  resources/js/classes/calculator.js
Due: javascript, backend

fixing up ubuntu
  .github/workflows/main.yaml
  .github/workflows/pr-only.yaml
Due: backend

Path conditions:
  service: any of: app/Services
  controller: any of: app/Http/Controllers
  unit: any of: app/Models
  javascript: any of: resources/js
  backend: any of: .*
