Repository vlad-ko/laravel-stripe-app-gh: changes, and which Codecov flags are due for each by the changed paths.
All: service, controller, unit, javascript, backend

adjusting yaml files
  .github/workflows/main.yaml
  .github/workflows/pr-only.yaml
  codecov.yml
Due: backend

adding manual trigger and a test
  .github/workflows/main.yaml
  .github/workflows/pr-only.yaml
  resources/js/classes/person.js
  resources/js/classes/person.test.js
Due: javascript, backend

fixing a test
  resources/js/classes/person.test.js
Due: javascript, backend

fixing a token param
  .github/workflows/main.yaml
  .github/workflows/pr-only.yaml
Due: backend

moving things around
  .github/workflows/main.yaml
Due: backend

fixing notification command
  .github/workflows/pr-only.yaml
Due: backend

Add Codecov bundler plugin
  package-lock.json
  package.json
  vite.config.js
  ~
Due: backend

fixing flows. adding initial setup
  .github/workflows/main.yaml
  .github/workflows/pr-only.yaml
  package.json
Due: backend

adding test and a function in Charge model
  app/Models/Charge.php
  docker-compose.yml
  tests/Unit/ChargeTest.php
Due: unit, backend

trying to bypass npm errors
  .github/workflows/main.yaml
  .github/workflows/pr-only.yaml
  package-lock.json
  package.json
Due: backend

trying to bypass npm errors again
  .github/workflows/main.yaml
  .github/workflows/pr-only.yaml
Due: backend

fixing up packages
  package-lock.json
  package.json
  vite.config.js
Due: backend

fixing up packages
  .github/workflows/pr-only.yaml
Due: backend

fixing up packages
  .github/workflows/pr-only.yaml
  package-lock.json
  package.json
Due: backend

fixing up packages
  package-lock.json
  package.json
Due: backend

fixing up packages
  package-lock.json
Due: backend

fixing up packages
  package.json
Due: backend

Update main.yaml
  .github/workflows/main.yaml
Due: backend

fixing up main.yaml
  .github/workflows/main.yaml
Due: backend

bumping up php version
  .github/workflows/main.yaml
Due: backend

Added new code and tests
  app/Models/Charge.php
  resources/js/classes/person.test.js
  tests/Unit/ChargeTest.php
Due: unit, javascript, backend

removing an extra test. disabling search
  .github/workflows/pr-only.yaml
Due: backend

fixing syntax
  .github/workflows/pr-only.yaml
  codecov.yml
Due: backend

fixing the cli command
  .github/workflows/main.yaml
  ~
Due: backend

adding a new file without a test
  app/Models/ImportantOne.php
Due: unit, backend

fixing the model name
  app/Models/ImportantOne.php
Due: unit, backend

adding a blank model
  app/Models/ImportantOne.php
Due: unit, backend

not running model tests
  .github/workflows/pr-only.yaml
Due: backend

adding a fake test
  tests/Unit/ChargeTest.php
Due: backend

adjusting a function
  app/Models/Charge.php
Due: unit, backend

adding tests and things
  .github/workflows/pr-only.yaml
  app/Models/ImportantOne.php
  tests/Unit/ChargeTest.php
  tests/Unit/ImportantOneTest.php
Due: unit, backend

adding factory
  database/factories/ImportantOneFactory.php
  tests/Unit/ImportantOneTest.php
Due: backend

adjusting flow
  .github/workflows/pr-only.yaml
Due: backend

adding files and pr base picking
  .github/workflows/pr-only.yaml
  app/Models/Charge.php
Due: unit, backend

fixed
  tests/Unit/ChargeTest.php
Due: backend

adding a test rebase on main
  tests/Unit/ChargeTest.php
Due: backend

adding a file and a test
  resources/js/classes/person.js
  resources/js/classes/person.test.js
Due: javascript, backend

Path conditions:
  service: any of: app/Services
  controller: any of: app/Http/Controllers
  unit: any of: app/Models
  javascript: any of: resources/js
  backend: any of: .*
